<% extend("../app.ejs") %>
    <section class="detail-nav">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="menu-title text-decoration-none">
                            <a href="/" class="text-decoration-none">
                                <img class="menu-nav" src="/images/background/smile.png" alt="img logo">
                                <span class="text-decoration-none">Doctors care</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-8 d-flex flex-row justify-content-center align-self-center menu-type">
                        <span class="d-block"><a href="/" class="text-decoration-none">Trang chủ</a></span>
                        <span class="d-block mx-5"><a href="/for-patients" class="text-decoration-none">Cho bệnh nhân</a></span>
                        <span class="d-block"><a href="/for-doctors" class="text-decoration-none">Cho bác sĩ</a></span>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="detail-info-doctor">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="/images/users/<%= doctor.avatar %>" class="avatar-doctor" alt="doctor avatar">
                    </div>
                    <div class="col-9 info-doctor">
                        <div><span class="name-doctor">
                                <%= doctor.name %>
                            </span></div>
                        <div>Chuyên khoa: <span>
                                <%= specialization.name %>
                            </span></div>
                        <div class="mt-2">
                            <a href="/feedback/<%=doctor.id%>" class="btn-feedback text-decoration-none">Gửi phản hồi sau khi thăm khám</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    
    <section class="detail-content">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <div class="content-doctor">
                                <%- doctor.description %>
                        </div>
                        <div>
                            <br>
                            <% if( doctor.Comments.length> 0){%>
                                <div class="title-feedback">Phản hồi của bệnh nhân:</div>

                                <% doctor.Comments.forEach(function(cmt) { %>
                                    <div class="comment mt-3 d-flex flex-column">
                                        <div class="d-flex flex-row">
                                            <div><strong>
                                                    <%= cmt.name%>
                                                </strong></div>
                                            <div class="ml-3 " style="color: #0056b3">(Ngày và giờ khám) <%=
                                                    cmt.dateBooking%> - <%=cmt.timeBooking%>
                                            </div>
                                        </div>
                                        <div>
                                            <span>
                                                <%= cmt.content %>
                                            </span>
                                        </div>
                                    </div>
                                    <%})%>
                                        <br>
                                        <%}%>
                        </div>
                    </div>
                    <div class="col-5  description">
                        <div class="d-flex flex-column h-100">
                            <div class="doctor-text-book">
                                <div class="row header-booking">
                                    <label for="day-book" class="label-booking">LỊCH KHÁM BỆNH</label>
                                </div>
                                <select id="day-book" class="form-control" data-doctor="<%= doctor.id %>">
                                    <% sevenDaySchedule.forEach(function(day) { %>
                                        <option value="<%= day %>">
                                            <%= day %>
                                        </option>
                                        <% }) %>

                                </select>
                            </div>
                            <div id="div-schedule-id"
                                class="doctor-schedule d-flex flex-row  flex-wrap text-decoration-none">
                                <% if(doctor.Schedules.length===0){ %>
                                    <div>
                                        Bác sĩ "<%= doctor.name %>" chưa có lich khám nào
                                            <b>
                                                <%= sevenDaySchedule[0] %>
                                            </b>. Vui lòng chọn khung giờ khác.
                                    </div>
                                    <% } %>
                                        <% doctor.Schedules.forEach( function(x, index) { %>
                                            <% if(x.getDataValue("isDisable")===false) { %>
                                                <div id="btn-modal-<%= x.id %>" data-doctorId="<%= doctor.id %>"
                                                    data-date="<%= x.date %>" data-time="<%= x.time %>"
                                                    class="text-decoration-none" onclick="openModalBooking(this.id)">
                                                    <div class="doctor-time">
                                                        <%= x.time %>
                                                    </div>
                                                </div>
                                                <% } %>

                                                    <% if( index===doctor.Schedules.length - 1 &&
                                                        x.getDataValue("isDisable")===true){%>
                                                        <div>
                                                            Không có lịch khám trong khoảng thời gian hiện tại.
                                                            Vui lòng chọn lịch khám tiếp theo.
                                                        </div>
                                                        <%}%>
                                                            <% }) %>

                            </div>
                            <div id="div-more-info">
                                <% if(doctor.Schedules.length> 0){ %>
                                    <div class="d-flex flex-column">
                                        <div>
                                            <span class="d-block mt-2"> Chọn <i class="fa fa-hand-o-up"
                                                    aria-hidden="true"></i> và đặt lịch tư vấn miễn phí</span>
                                        </div>
                                        <span class="d-block pt-2">Giá khám: 300.000 VND</span>
                                    </div>
                                    <% } %>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <input hidden type="text" id="doctorAddress" value="<%= clinic.address %>">
    
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="modalBooking">
        <div class="modal-dialog mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đặt lịch khám</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5" style="border-right: 1px solid #ccc;" id="infoDoctor"
                            data-doctor-id="<%= doctor.id %>">
                            <label class="text-label" style="padding-top: 7px">Thông tin bác sĩ:</label>
                            <div class="d-flex flex-row">
                                <img class="avatar-doctor-modal" src="/images/users/<%= doctor.avatar %>">
                                <div class="ml-3">
                                    <span class="d-block">
                                        <%= doctor.name %>
                                    </span>
                                    <div class="time-booking" id="time-patient-booking"></div>
                                    <div class="time-booking" id="date-patient-booking"></div>
                                </div>
                            </div>
    
                            <div class="mt-4">
                                <%= clinic.address %>
                            </div>
                            <div class="mt-3">Lịch hẹn miễn phí</div>
                            <div class="mt-3">Giá khám : 300.000 VND</div>
    
                        </div>
                        <div class="col-7">
                            <form id="form-patient-info">
                                <div class="form-group">
                                    <label for="patient-name" class="col-form-label text-label">Thông tin bệnh nhân:</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
                                    <div class="invalid-feedback">
                                        Tên bệnh nhân không được để trống
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="selectMale"
                                            value="male" checked>
                                        <label class="form-check-label" for="selectMale">Nam</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="selectFemale"
                                            value="female">
                                        <label class="form-check-label" for="selectFemale">Nữ</label>
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <label for="phone" class="col-form-label text-label">Số điện thoại:</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                        placeholder="Số điện thoại">
                                    <div class="invalid-feedback">
                                        Số điện thoại không được để trống
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <label for="email" class="col-form-label text-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                    <div class="invalid-feedback">
                                        Email không hợp lệ
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <label for="reason" class="col-form-label text-label">Lý do khám bệnh:</label>
                                    <textarea class="form-control" id="reason" name="reason" rows="3"
                                        placeholder="Nhập lý do khám bệnh"></textarea>
                                    <div class="invalid-feedback">
                                        Lý do khám bệnh không được để trống
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <label for="respiratoryHistory" class="col-form-label text-label">Tiền sử bệnh hô
                                        hấp:</label>
                                    <textarea class="form-control" id="respiratoryHistory" name="respiratoryHistory"
                                        rows="3" placeholder="Nhập tiền sử bệnh hô hấp"></textarea>
                                </div>
    
                                <div class="form-group">
                                    <label for="placesVisited" class="col-form-label text-label">Địa điểm đã đến gần
                                        đây:</label>
                                    <textarea class="form-control" id="placesVisited" name="placesVisited" rows="3"
                                        placeholder="Nhập các địa điểm đã đến gần đây"></textarea>
                                </div>
    
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btn-booking">Đặt lịch khám</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openModalBooking(id) {
            let time = $(`#${id}`).data('time');
            let date = $(`#${id}`).data('date');
            $('#time-patient-booking').text(time);
            $('#date-patient-booking').text(date)
            $('#modalBooking').modal('show');
        }
    </script>
